.contenido_main h2 {
  text-align: center;
}
.contenido_main {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
#selector {
  grid-area: selector;
  background-color: #f8f6fe;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 16px;
  padding: 16px;
}
.contenido_main--box {
  border-radius: 20px;
  display: flex;
  align-items: center;
  
}

.contenido_main--box i {
  font-size: 30px;
  padding: 8px;
  margin-left: 10px;
  color: rgb(56, 56, 56);
}

#moneda {
  padding: 4px;
  background-color: #fff;
  margin-left: 20px;
}
.contenido_main--box.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.contenido_main--box--card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  background-color: #f8f6fe;
  padding: 16px 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
@media screen and (max-width: 824px) {
  .contenido_main--box.grid {
    grid-template-columns: 1fr;
  }

  .contenido_main--box {
    flex-direction: column;
    justify-content: center;
    
  }
}

.selector-icono {
  display: flex;
  align-items: center;
}

.contenido_main--box--precios {
  display: flex;
  gap: 12px;
}
.contenido_main--box--precios h4 {
  font-size: 12px;
  color: gray;
}

.venta,
.compra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Apartado boton estrella*/
.starCheckbox {
  display: none;
}

.starCheckboxLabel {
  font-size: 34px;
  cursor: pointer;
  position: relative;
}

.starCheckboxLabel::before {
  content: "★";
  color: rgba(63, 51, 230, 0.4);
}

.starCheckboxLabel:hover:before {
  color: rgb(63, 51, 230);
}
.starCheckbox:checked + .starCheckboxLabel::before {
  color: rgb(63, 51, 230);
}
