.contenido_main {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.container-selector {
  grid-area: selector;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  background-color: rgba(128, 128, 128, 0.461);
  margin: auto;
  /* margin: 36px; */
}

.container-selector label {
  padding: 0 0 3px 0;
  text-align: start;
}

.selector-icono {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 4px;
}

.selector-icono i {
  font-size: 25px;
}

.selector-icono select {
  min-width: 40px;
  margin-left: 8px;
}

.container-grafico {
  grid-area: grafico;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

.container-grafico h3 {
  font-size: 24px;
  font-weight: 400;
}

.container-grafico img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.container-compartir {
  grid-area: compartir;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.icono-compartir i {
  font-size: 30px;
  padding-right: 2px;
}

.icono-compartir {
  display: flex;
  align-items: center;
  padding: 4px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  gap: 4px;
}

.icono-compartir:hover {
  background-color: #f0f0f0;
  color: #56616d;
}

#showModalButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.icono-compartir a {
  color: rgb(128, 128, 128);
}
.container-tabla {
  grid-area: tabla;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  border: solid 2px #dae2f3;
  justify-content: flex-start;
  border-radius: 36px;
  position: relative;
  padding: 0px !important;
}

.table-wrapper {
  border: solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: grid;
  width: 100%;
  height: 400px;
  overflow: auto;
}

.table-wrapper table {
  border-collapse: separate;
  border-spacing: 0;
  list-style: none;
}

.table-wrapper table thead {
  position: sticky;
  top: 0;
  left: 0;
}

.table-wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: grey;
  border-radius: 16px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #213768;
  border-radius: 16px;
}

.table-wrapper tr th {
  background-color: #f8f6fe;
  padding: 12px 0;
}
.table-wrapper tr,
.table-wrapper td {
  border: solid 1px grey;
}
.table-wrapper td {
  padding: 8px;
}

.precios_tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icono {
  font-size: 20px;
}

.iconolower:hover {
  color: red;
  cursor: pointer;
}

.iconoup:hover {
  color: green;
  cursor: pointer;
}

.monedaSelect {
  background-color: #ededed;
  color: #4b6aa3;
}
.contenedor_main--informes > div {
  border-radius: 24px;
}
.contenedor_main--informes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "selector grafico"
    "compartir grafico"
    "tabla tabla";
  gap: 12px;
  background-color: #f8f6fe;
  border: solid 2px #dae2f3;
  padding: 12px;
  border-radius: 16px;
  position: relative;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f6fe;
  border: 2px solid black;
  padding: 32px 56px;
  z-index: 100;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* PARA VER EL MODAL SACAR EL DISPLAY NONE */
  display: none;
}
#modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#modal form input {
  padding: 8px 4px;
}
.modal__btns {
  align-self: flex-end;
  margin-top: 16px;
}
.modal__btns button {
  padding: 8px 28px;
  border-radius: 16px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.modal__btns button:first-child {
  background-color: rgb(180, 180, 180);
}
.modal__btns button:last-child {
  background-color: #00b050;
}
@media screen and (max-width: 768px) {
  .contenedor_main--informes {
    grid-template-columns: 1fr;
    grid-template-areas:
      "selector"
      "grafico"
      "compartir"
      "tabla";
  }
  .table-wrapper table {
    font-size: 12px;
  }
}

/* .wrapper-imprimir {
  display: flex;
  justify-content: space-between;
}

.imprimir {
  display: flex;
  align-items: center;
  padding: 4px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  gap: 4px;
}

/* .imprimir:hover {
  background-color: black;
  color: white;
} 

.imprimir button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.imprimir {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.imprimir:hover {
  background-color: #f0f0f0;
  color: #56616d;
}*/
